$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$gray: rgb(104, 104, 104);
$bg-color: rgb(236, 238, 254);
$light-purple: rgb(173, 176, 217);
$purple-1: rgb(68, 77, 242);
$purple-2: rgb(121, 126, 243);
$purple-3: rgb(83, 90, 241);
$green: rgb(146, 200, 62);
$rose: rgb(237, 30, 121);


$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1440px;
