<div>
    <div class="rectangle">
        <img src="assets/img/Rectangle 203.svg">
    </div>
    <div>
        <h1>Leute hinzufügen</h1>
        <div class="channel_name">
            <h2><b>#</b> {{ channelName }}</h2>
        </div>
    </div>

    <div class="input-container">
        <div class="input_content">
            <div class="editable-input" contenteditable="true" (input)="onInputChange($event)" #editableDiv></div>
            
            <ng-container *ngIf="selectedUsers.length > 0">
                <div class="selected_users">
                    <div class="selected_user" *ngFor="let user of selectedUsers">
                        <img class="avatar" [src]="'assets/img/avatar' + user.avatar + '.svg'" alt="avatar">
                        <span>{{ user.name }}</span>
                        <button class="remove-user-btn" (click)="removeSelectedUser(user)">
                            <img src="assets/img/close.svg">
                        </button>
                    </div>
                </div>
            </ng-container>
        </div>

        <div *ngIf="listShown" class="users_liste">
            <div class="user_name" *ngFor="let user of filteredUsers" (click)="onUserSelect(user)">
                <img class="avatar" src="assets/img/avatar{{ user.avatar }}.svg">
                <span>{{ user.name }}</span>
            </div>
        </div>
    </div>
    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
    </div>

    <div class="add_button">
        <button class="btn-primary" [disabled]="selectedUsers.length === 0" (click)="addUserToChannel()">Hinzufügen</button>
    </div>
</div>