<div class="message-input" (clickOutside)="onUserListClickOutside()">
    <app-tag-selection-list class="tag-selection-list"
        *ngIf="isUserSelectionListOpen"
        (userSelected)="onUserSelected($event)"
    >
    </app-tag-selection-list>
    <div [innerHTML]="content" contenteditable="true" class="pseudo-input" #messageInput id="messageInput" (input)="onInputChange()" (keydown)="onKeyDown($event)" >
    </div>
    <div class="toolbar">
        <div class="toolbar-left">
            <div class="emoji-container">
                <img class="toolbar-icon" src="assets/img/emoji.svg" alt="Emojis" (click)="onEmojiButtonClick()" />
                <div class="emoji-picker-overlay" *ngIf="isEmojiPickerOpen" (click)="onEmojiOverlayClick($event)">
                    <app-emoji-picker class="emoji-picker"
                        (emojiSelected)="onEmojiSelected($event)"
                    ></app-emoji-picker>
                </div>
            </div>
            <img class="toolbar-icon" src="assets/img/at_symbol.svg" alt="Tag" (click)="onTagIconClick()" />
        </div>
        <ng-container *ngIf="type === 'send'">
            <button class="send-button" [disabled]="isSubmittingDisabled" (click)="onSendClick()">
            </button>
        </ng-container>
        <ng-container *ngIf="type === 'edit'">
            <div class="edit-buttons">
            <button (click)="onCancelEditClick()">
                Abbrechen
            </button>
            <button [disabled]="isSubmittingDisabled" (click)="onSaveEditClick()">
                Speichern
            </button>
            </div>
        </ng-container>
    </div>
</div>