<div class="message-input">
    <!-- <textarea [(ngModel)]="content" [attr.placeholder]="placeholder"></textarea> -->
    <div [innerHTML]="content" contenteditable="true" class="pseudo-input" id="messageInput">
    </div>
    <button (click)="addUserTagToInput(taggedUserId)">add user tag</button>
    <button (click)="addChannelTagToInput(taggedChannelId)">add channel tag</button>
    <button (click)="onSendClick()">send</button>
    <div class="toolbar">
        <div class="emoji-container">
            <img class="emoji-icon" src="assets/img/emoji.svg" alt="Emojis" (click)="onEmojiButtonClick()" />
            <div class="emoji-picker-overlay" *ngIf="isEmojiPickerOpen" (click)="onEmojiOverlayClick($event)">
                <app-emoji-picker class="emoji-picker"
                    (emojiSelected)="onEmojiSelected($event)"
                ></app-emoji-picker>
             </div>
        </div>
        <ng-container *ngIf="type === 'send'">
            <button class="send-button" [disabled]="!content.trim()" (click)="onSendClick()">
            </button>
        </ng-container>
        <ng-container *ngIf="type === 'edit'">
            <div class="edit-buttons">
            <button (click)="onCancelEditClick()">
                Abbrechen
            </button>
            <button [disabled]="!content.trim()" (click)="onSaveEditClick()">
                    Speichern
                </button>
            </div>
        </ng-container>
    </div>
</div>