@import '../../../styles.scss';

.message-input {
    @include rounded($all: 20px);
    border: 1px solid $light-purple;
    height: 145px;
    padding: 24px 16px;
    background-color: $white;
    width: 100%;
    position: relative;
    word-break: break-word;
    overflow-wrap: break-word;

    .tag-selection-list {
        position: absolute;
        bottom: calc(100% + 8px);
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .placeholder {
        position: absolute;
        top: 24px;
        left: 16px;
        color: $gray;
        pointer-events: none;

        &.hidden {
            display: none;
        }
    }

    .pseudo-input {
        width: 100%;
        height: 64px;
        border: none;
        outline: none;
        overflow-y: auto;

        &.disabled {
            cursor: not-allowed;
        }
    }

    .toolbar {
        @include flex($justify: space-between);
        padding-top: 8px;

        .toolbar-left {
            @include flex();
            gap: 6px;
        }

        .emoji-container {
            @include flex();
            position: relative;
        }

        .toolbar-icon {
            cursor: pointer;
            @include rounded($all: 50%);
            padding: 4px;

            &:hover {
                background-color: $bg-color;
            }
        }

        .emoji-picker-overlay {
            position: fixed;
            bottom: 0;
            right: 0;
            z-index: 1000;
            width: 100vw;
            height: 100vh;

            .emoji-picker {
                position: absolute;
                bottom: 20px;
                right: 20px;
            }
        }

        .edit-buttons {
            @include flex();
            gap: 8px;
        }
    }

    .send-button {
        width: 45px;
        height: 45px;
        background-image: url('/assets/img/iconSend.svg');
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        background-color: transparent;
        cursor: pointer;

        &:hover {
            background-image: url('/assets/img/iconSendHover.svg');
        }

        &:disabled {
            opacity: 0.2;
            cursor: not-allowed;
        }
    }
}