@import '../../../styles.scss';

.message-input {
    @include rounded($all: 20px);
    border: 1px solid $light-purple;
    height: 145px;
    padding: 24px 16px;

    textarea {
        width: 100%;
    }

    .send-button {
        width: 45px;
        height: 45px;
        background-image: url('/assets/img/iconSend.svg');
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        background-color: transparent;
        cursor: pointer;


        &:hover {
            background-image: url('/assets/img/iconSendHover.svg');
        }

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}
