<div class="tag-selection-list-container">
    <div class="tag-selection-list-header">
        {{ listHeader }}
    </div>
    <div class="tag-selection-list">
        @for (tag of tags; track tag) {
            <div class="tag-selection-list-item" (click)="onTagClick(tag)">
                @if (tag.avatar) {
                    <app-avatar [avatarId]="tag.avatar" size="small"></app-avatar>
                }
                <span>{{ tag.name }}</span>
            </div>
        }
    </div>
</div>