<app-da-bubble-header-authentication></app-da-bubble-header-authentication>

<div class="pw-reset-email-container">

  <div [routerLink]="['']" class="arrow-back"></div>

  <div class="hedline-section">
    <h2>Passwort zurücksetzen</h2>
    <span>Bitte geben Sie Ihre E-Mail-Adresse ein.</span>
  </div>

  <form #resetPasswordForm="ngForm" (ngSubmit)="onSubmit(resetPasswordForm)">
    <div class="input-field">
      <app-input-field required name="email" type="email" [showError]="emailInvalid || false"
        [errorMessage]="emailErrorMessage" placeholder="beispielname@email.com"
        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" imagePath="assets/img/mail.svg"
        [(ngModel)]="email" #emailField="ngModel" (blur)="onBlur()" (input)="validateEmail()">
      </app-input-field>

    </div>

    <div class="description-email-send">
      <span>Wir senden Ihnen eine E-Mail, über die Sie ihr Passwort ändern können.</span>
    </div>

    <div class="btn-container">
      <button type="submit" class="btn-primary btn-width"
        [ngClass]="{'btn-disabled': resetPasswordForm.invalid || emailInvalid || isSubmitting }"
        [disabled]="resetPasswordForm.invalid || emailInvalid || isSubmitting ">E-Mail senden</button>
    </div>
  </form>

</div>


<div *ngIf="emailSend">
  <app-email-send></app-email-send>
</div>

<app-legal-information></app-legal-information>