<div class="menu_profil_content">
    <div class="profile_box">
        <span (click)="openProfil()">Profil</span>
        <span (click)="logOut()">Log out</span>
    </div>
    <div class="slide_box">
        <img class="img_slide" src="assets/img/Rectangle 203.svg">
        <div class="logout_profil">
            <div>
                <img src="assets/img/account_circle.svg">
                <span (click)="openProfil()">Profil</span>
            </div>
            <div>
                <img src="assets/img/logout.svg">
                <span (click)="logOut()">Log out</span>
            </div>
        </div>
    </div>
</div>