<div class="user_infos_content">
        <h1>Profil</h1>
    <div class="profil_avatar">
        <img class="avatar" src="assets/img/avatar{{ 'userAvatar' }}.svg">
    </div>
    <div class="user_name_status">
        <div class="user_name_profil">
            <h2>Name</h2>
        </div>
        <p>Status</p>
    </div>    
    <div class="email_addresse">
        <div>
            <img src="assets/img/mail666.svg">
            <h2>E-mail-Adresse</h2>
        </div>
        <p>e-mail</p>
    </div>
    <div class="button_section">
        <button class="btn-primary"><img src="assets/img/mode_comment.svg">Nachricht</button>
    </div>
</div>
