<div class="user_infos_content">
        <h1>Profil</h1>
    <div class="profil_avatar">
        <app-avatar [avatar]="userAvatar" size="large"></app-avatar>
    </div>
    <div class="user_name_status">
        <div class="user_name_profil">
            <h2>{{ userName }}</h2>
        </div>
        <div class="user_status">
            @if (userStatus === 'online') {
                <div class="online-indicator online"></div>
                <p class="status-text online">{{ userStatus }}</p>
            } @else if (userStatus === 'offline') {
                <div class="online-indicator offline"></div>
                <p class="status-text offline">{{ userStatus }}</p>
            }
        </div>
    </div>    
    <div class="email_addresse">
        <div>
            <img src="assets/img/mail666.svg">
            <h2>E-mail Adresse</h2>
        </div>
        <p>{{ userEmail }}</p>
    </div>
    <div class="button_section">
        <button class="btn-primary" (click)="switchToDirectMessageChannel(userId)"><img src="assets/img/mode_comment.svg">Nachricht</button>
    </div>
</div>
