<div class="channel_edit_content">
    <h1># Channel Name</h1>

    <div class="channel_name_content"  *ngIf="!nameEdit">
        <div class="channel_name_edit">
            <h2>Channel-name</h2>
            <p (click)="openNameEdit()">Bearbeiten</p>
        </div>
        <div class="channel_name">
            <b>#</b>
            <span>{{ channelName }}</span>
        </div>
    </div>

    <div class="channel_name_content_edit" *ngIf="nameEdit">
        <div class="channel_name_edit">
            <h2>Channel-name</h2>
            <p (click)="saveNewChannelName(channelName)">Speichern</p>
        </div>
        <input type="text" [(ngModel)]="channelName">
    </div>

    <div class="channel_description_content" *ngIf="!channelEdit">
        <div class="channel_description_edit">
            <div>
                <h2>Beschreibung</h2>
                <p (click)="openChannelEdit()">Bearbeiten</p>
            </div>
            <span>{{ channelDescription }}</span>
        </div>

        <div class="line"></div>
        
        <div class="channel_create_von">
            <h2>Erstellt von</h2>
            <span>{{ channelCreator }}</span>
        </div>
    </div>

    <div class="channel_description_content_edit" *ngIf="channelEdit">
        <div class="channel_description_edit">
            <div>
                <h2>Beschreibung</h2>
                <p (click)="saveNewChannelDescription(channelDescription)">Speichern</p>
            </div>
            <input type="text" [(ngModel)]="channelDescription">
        </div>

        <div class="line"></div>
        
        <div class="channel_create_von">
            <h2>Erstellt von</h2>
            <span>{{ channelCreator }}</span>
        </div>
    </div>

    <div class="button">
        <button class="btn-primary" (click)="channelLeave()">Channel verlassen</button>
    </div>

</div>