<div class="channel_edit_content">
    <h1># Channel Name</h1>

    <div class="channel_name_content"  *ngIf="!nameEdit" (click)="openNameEdit()">
        <div class="channel_name_edit">
            <h2>Channel-name</h2>
            <p>Bearbeiten</p>
        </div>
        <div class="channel_name">
            <b>#</b>
            <span>Channel name from firebase</span>
        </div>
    </div>

    <div class="channel_name_content_edit" *ngIf="nameEdit" (click)="closeNameEdit()">
        <div class="channel_name_edit">
            <h2>Channel-name</h2>
            <p>Speichern</p>
        </div>
        <input type="text">
    </div>

    <div class="channel_description_content">
        <div class="channel_description_edit">
            <div>
                <h2>Beschreibung</h2>
                <p>Bearbeiten</p>
            </div>
            <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit, qui quibusdam. Accusantium natus nissimos.</span>
        </div>

        <div class="line"></div>
        
        <div class="channel_create_von">
            <h2>Erstellt von</h2>
            <span>Name from firebase</span>
        </div>
    </div>
    <div class="button">
        <button class="btn-primary">Channel verlassen</button>
    </div>

</div>