<div class="selection-list-container">
    <div class="selection-list" [class.large]="size === 'large'">
        @if (ifElementsEmpty()) {
            <app-loading-indicator></app-loading-indicator>
        } @else {

        @for (category of elements['categories']; track category) {
            <div class="selection-list-header">
                <span>{{ category.title }}</span>
            </div>
        @if (category.items.length > 0) {
            @for (item of category.items; track item; let j = $index) {
                <div class="selection-list-item" (click)="onElementClick(item, category.type)">
                    @if (category.type === 'channel') {
                        <span [innerHTML]="'#' + item.name"></span>
                    }
                    @if (category.type === 'user') {
                        <app-avatar [avatar]="item.avatar" size="small"></app-avatar>
                        <span [innerHTML]="item.name"></span>
                    @if (item.email) {
                        <span class="item-email">{{ item.email }}</span>
                    }
                    }
                    @if (category.type === 'message') {
                        <span [innerHTML]="item.content | truncateHtml: 75 "></span>
                    }
                </div>
            }
        } @else {
        <div class="selection-list-item no-results">
            <span>Keine Ergebnisse in dieser Kategorie</span>
        </div>
        }

        }
        }
    </div>
</div>