@import '../../../styles.scss';
@import './../avatar/avatar.component.scss';

.header {
    @include flex($justify: space-between, $align: start);
    width: 100%;
    padding: 0 20px;

    @media (max-width: $breakpoint-md) {
        padding: 20px 0 0 0;
    }
}

.content {
    width: 100%;
    height: 120px;
    @include flex($justify: space-between, $align: center);
    gap: 24px;

    @media (max-width: $breakpoint-md) {
        flex-wrap: wrap;
        height: 160px;
    }

    .standard-logo {
        display: block;

        @media (max-width: $breakpoint-md) {
            display: none;
        }
    }

    .mobile-logo {
        display: none;

        @media (max-width: $breakpoint-md) {
            display: block;
        }

        div {
            @include flex();
            gap: 8px;
            margin-left: 20px;
            cursor: pointer;

            .workspace-logo {
                width: 40px;
                height: 40px;
            }
        }
    }
}

.logo {
    height: 70px;
    width: auto;

    @media (max-width: $breakpoint-lg) {
        height: 50px;
    }

    @media (max-width: $breakpoint-md) {
        height: 40px;
        order: 1;
        margin-left: 20px;
    }
}

.search {
    width: 100%;
    max-width: 640px;

    @media (max-width: $breakpoint-xl) {
        max-width: 400px;
    }

    @media (max-width: $breakpoint-md) {
        order: 3;
        max-width: 100%;
        background-color: $white;
        padding: 20px;
    }

}

.user_name {
    @include flex($justify: space-between, $align: center);
    gap: 16px;
    cursor: pointer;

    @media (max-width: $breakpoint-md) {
        order: 2;
        margin-right: 20px;

        svg {
            display: none;
        }
    }

    &:hover {
        color: $purple-2;

        svg {
            color: $purple-2;
        }
    }

    h2 {
        font-size: 24px;

        @media (max-width: $breakpoint-md) {
            display: none;
        }
    }

    .user_avatar_arrow {
        @include flex();
        gap: 20px;
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1001;
}

.modal {
    position: fixed;
    top: 113px;
    right: 20px;
    width: 282px;
    height: 181px;
    background-color: $white;
    filter: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    @include rounded();
    border-top-right-radius: 0%;
    padding: 40px;
    -webkit-box-shadow: -8px 8px 16px -5px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: -8px 8px 16px -5px rgba(0, 0, 0, 0.27);
    box-shadow: -8px 8px 16px -5px rgba(0, 0, 0, 0.27);
    display: flex;
    flex-direction: column;
    gap: 24px;

    span {
        cursor: pointer;
        font-size: 24px;
        font-weight: 700;
    }
}


.modal_profil_menu {
    z-index: 1001;
}

.modal-overlay-profil {
    z-index: 1002;
}

.modal_profil {
    z-index: 1003;
    width: 500px;
    height: 600px;
}

.close_profil {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    padding: 10px;

    &:hover {
        background-color: rgba(99, 61, 189, 0.2);
        @include rounded();
        filter: invert(35%) sepia(92%) saturate(3979%) hue-rotate(230deg) brightness(99%) contrast(91%);
    }
}

.profil_avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;

    img {
        width: 165px;
        height: 165px;
    }
}

.user_name_profil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;

    h1 {
        font-size: clamp(20px, 2.5vw, 32px);
        margin-block-start: 0;
        margin-block-end: 0;
    }

    span {
        font-size: clamp(16px, 2vw, 18px);
        color: $purple-2;
        font-weight: 400;

        &:hover {
            font-weight: 700;
        }
    }
}

.email_addresse {
    margin-top: 40px;
    display: flex;
    display: flex;
    flex-direction: column;

    span {
        font-size: clamp(18px, 2vw, 20px);
    }

    p {
        color: $purple-1;
        font-size: clamp(16px, 2vw, 18px);
        margin-top: 20px;
        margin-left: 50px;
    }

    img {
        margin-right: 20px;
        width: 25px;
        height: 20px;
    }
}

.no-background {
    background: rgba(0, 0, 0, 0.2);
}

.modal_profil_edit {
    border-top-right-radius: 30px;

    h1 {
        font-size: clamp(18px, 2.5vw, 24px);
    }

    h2 {
        font-size: clamp(18px, 2vw, 20px);
    }

    input {
        margin-top: 10px;
        max-width: 500px;
        width: 100%;
        max-height: 60px;
        height: 100%;
        background-position: 32px center;
        background-size: 24px 24px;
        padding: 18px 20px;
        border-radius: 100px;
        border: 1px solid $light-purple;
        font-size: clamp(16px, 2vw, 18px);

        &:hover {
            cursor: pointer;

            border: 1px solid $black;
        }

        &:focus {
            outline: none;
            border: 1px solid $purple-1;
        }
    }
}

.user_name_edit {
    display: flex;
    align-items: center;
    gap: 20px;

    h2 {
        margin-inline-start: 0;
        margin-inline-end: 0;
    }
}

.btn_group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-top: 35px;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@media (max-width: $breakpoint-md) {
    .modal_profil_menu {
        top: auto;
        right: auto;
        bottom: 0;
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 30px;
        animation: slideUp 0.3s ease-out;
    }
}

@media (max-width: $breakpoint-md) {
    .modal {
        padding-left: 30px;
        padding-right: 30px;
    }

    .modal_profil {
        top: 389px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: $breakpoint-sm) {
    .modal_profil {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }

    .modal {
        padding-left: 25px;
        padding-right: 25px;
    }

    .close_profil {
        right: 20px;
        top: 30px;
    }

    .modal_profil_edit {
        width: 100%;
    }

    .email_addresse {
        p {            
            margin-left: 10px;
        }           
    }
}