<div class="header">
    <div class="content">
        <img class="logo" src="assets/img/Property 1=Default.svg">
        <div class="input_search">
            <input type="text" placeholder="Devspace durchsuchen">
            <img class="search" src="assets/img/search.png">
        </div>
        <div class="user_name">
            <h2>Frederick Beck</h2>
            <img class="user_foto" src="assets/img/Property 1=Default.png">
            <img class="arrow_down" src="assets/img/keyboard_arrow_down.png">
        </div>
    </div>
</div>