@import '../../../styles.scss';

.header {
    @include flex($justify: space-between, $align: start);
    width: 100%;
    padding: 0 20px;

    @media (max-width: $breakpoint-md) {
       padding: 20px 0 0 0;
    }

}

.content {
    width: 100%;
    height: 120px;
    @include flex($justify: space-between, $align: center);
    gap: 24px;

    @media (max-width: $breakpoint-md) {
        flex-wrap: wrap;
        height: 160px;
    }

    .standard-logo {
        display: block;

        @media (max-width: $breakpoint-md) {
            display: none;
        }
    }

    .mobile-logo {
        display: none;

        @media (max-width: $breakpoint-md) {
            display: block;
        }

        div {
            @include flex();
            gap: 8px;
            margin-left: 20px;
            cursor: pointer;

            .workspace-logo {
                width: 40px;
                height: 40px;
            }
        }
    }
}

.logo {
    height: 70px;
    width: auto;

    @media (max-width: $breakpoint-lg) {
        height: 50px;
    }

    @media (max-width: $breakpoint-md) {
        height: 40px;
        order: 1;
        margin-left: 20px;
    }
}

.search {
    width: 100%;
    max-width: 640px;

    @media (max-width: $breakpoint-xl) {
        max-width: 400px;
    }

    @media (max-width: $breakpoint-md) {
        order: 3;
        max-width: 100%;
        background-color: $white;
        padding: 20px;
    }

}

.user_name {
    @include flex($justify: space-between, $align: center);
    gap: 16px;
    cursor: pointer;

    @media (max-width: $breakpoint-md) {
        order: 2;
        margin-right: 20px;

        svg {
            display: none;
        }
    }


    &:hover {
        color: $purple-2;

        svg {
            color: $purple-2;
        }
    }

    h2 {
        font-size: 24px;

        @media (max-width: $breakpoint-md) {
            display: none;
        }
    }

    .user_avatar_arrow {
        @include flex();
        gap: 20px;
    }



}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 80;
}

.modal {
    position: fixed;
    top: 113px;
    right: 20px;
    width: 282px;
    height: 181px;
    background-color: $white;
    filter: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    @include rounded();
    border-top-right-radius: 0%;
    padding: 40px;    
    -webkit-box-shadow: -8px 8px 16px -5px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: -8px 8px 16px -5px rgba(0, 0, 0, 0.27);
    box-shadow: -8px 8px 16px -5px rgba(0, 0, 0, 0.27);
    display: flex;
    flex-direction: column;    
    gap: 24px;

    span {
        cursor: pointer;
        font-size: 24px;
        font-weight: 700;
    }
}


.modal_profil_menu {
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.modal-overlay-profil {
    z-index: 100;
}

.modal_profil {
    z-index: 120;
    width: 500px;
    height: 600px;
}

.close_profil {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    padding: 10px;

    &:hover {
        background-color: rgba(99, 61, 189, 0.2);
        @include rounded();
        filter: invert(35%) sepia(92%) saturate(3979%) hue-rotate(230deg) brightness(99%) contrast(91%);
    }
}

.profil_avatar {   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;

    img {
        width: 165px;
        height: 165px;    
    }
}

.user_name_profil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
    
    h1 {
        font-size: 32px;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    span {
        font-size: 18px;
        color: $purple-2;
        font-weight: 400;

        &:hover {
            font-weight: 700;
        }
    }
}

.email_addresse {
    margin-top: 40px;
    display: flex;
    font-size: 20px;
    display: flex;
    flex-direction: column;

    p {
        color: $purple-1;
        font-size: 18px;
        margin-top: 20px;
        margin-left: 50px;
    }

    img {
        margin-right: 20px;
        width: 25px;
        height: 20px;
    }
}

.no-background {
    background: rgba(0, 0, 0, 0.2);
}


.modal_profil_edit {
    border-top-right-radius: 30px;

    h1 {
        font-size: 24px;
    }

    input {
        margin-top: 10px;
        max-width: 500px;
        width: 100%;
        max-height: 60px;
        height: 100%;
        background-position: 32px center;
        background-size: 24px 24px;
        padding: 18px 20px;    
        border-radius: 100px;
        border: 1px solid $light-purple;
        font-size: 18px;
    
        &:hover {
            cursor: pointer;
    
            border: 1px solid $black;
        }
    
        &:focus {
            outline: none;
            border: 1px solid $purple-1;        
        }
    }
}

.user_name_edit {
    display: flex;
    align-items: center;
    gap: 20px;

    h2 {
        margin-inline-start: 0;
        margin-inline-end: 0;
    }
}


.btn_group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-top: 35px;
}