@import '../styles/_variables';
@import '../styles/mixins';



:host{
    position: absolute;
    bottom: 30px;
}

.legal-infomation-link{
    display: flex;
    font-size: 18px;
    font-weight: 400;
    gap: 16px;
    

    a{
        @include flex(center,center, normal);
        height: 42px;
        width: 154px;
        color: $purple-2;
        text-decoration: none;

        &:hover{
            cursor: pointer;
            border: 1px solid $purple-2;
            border-radius: 30px;
            font-weight: 700;
        }
    }
}

@media (min-width: 701px) and (max-width: 5000px)and (max-height: 900px){
    :host{
        bottom: 10px;
    }

}

@media(max-width:700px) {

    :host{
        bottom: 10px;
    }

}

@media(max-width:700px) and (max-height: 840px){
    :host{
        bottom: 0px;
    }

    .legal-infomation-link{
        font-size: 14px;
    }

}

@media(max-width:700px) and (max-height: 775px){
    .legal-infomation-link{
        a{
            height: 25px;
        }
    }
}