<div class="add_chanel_form">
    <h1>Channel erstellen</h1>
    <p>Channnels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein #marketing zum Beispiel. </p>
    <span>Channel-Name</span>
    <input [(ngModel)]="name" type="text" placeholder="# z.B. Kooperationsprojekte">
    <span>Beschreibung (optional)</span>
    <input [(ngModel)]="description" type="text" placeholder="">
    <div class="button_add">
        <button (click)="addNewChannel()">Erstellen</button>
    </div>

</div>
