@import './../../styles/variables';
@import './../../styles/mixins';
@import './../../shared/avatar/avatar.component.scss';


h1 {
    font-size: clamp(20px, 2.5vw, 24px);
}

.all_users_from_channel {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    gap: 17px;
    height: 222px;
    max-height: 222px;
    overflow: hidden;



    img {
        width: 50px;
        height: 50px;
    }

    &:hover {
        overflow: auto;
    }

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        margin: 100px 0;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: $light-purple;
    }
}


.user_name_and_avatar {
    position: relative;
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: clamp(16px, 2vw, 18px);
    cursor: pointer;

    div {
        display: flex;
        align-items: center;
        gap: 8px;
        width: max-content;
        padding: 5px 10px;

        &:hover {
            @include rounded();
            color: $purple-3;
            background-color: $bg-color;
        }
    }

}

.mitglieder_hinzufügen {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 15px;
    cursor: pointer;
    width: max-content;
    padding: 3px 27px 3px 0;

    img {
        margin-left: 20px;
    }

    span {
        font-size: clamp(16px, 2vw, 18px);
    }

    &:hover {
        @include rounded();
        color: $purple-3;
        background-color: $bg-color;
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.modal {
    position: fixed;
    background: #fff;
    filter: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    @include rounded();
    padding: 40px;
    z-index: 1001;
    -webkit-box-shadow: -8px 8px 16px -5px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: -8px 8px 16px -5px rgba(0, 0, 0, 0.27);
    box-shadow: -8px 8px 16px -5px rgba(0, 0, 0, 0.27);

    img {
        width: 35px;
        height: 35px;
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
        padding: 10px;
        z-index: 999;

        &:hover {
            background-color: rgba(99, 61, 189, 0.2);
            @include rounded();
            filter: invert(35%) sepia(92%) saturate(3979%) hue-rotate(230deg) brightness(99%) contrast(91%);
        }
    }
}

.user_info {
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 700px;
}

.user_add_to_channel {
    top: 203px;
    width: 514px;
    height: 294px;
    right: 30px;
    border-top-right-radius: 0;
}

@media (max-width: $breakpoint-md) {
    .user_info {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 700px;
    }

    .user_add_to_channel {
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: $breakpoint-sm) {

    .mitglieder_hinzufügen {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-top: 15px;
        cursor: pointer;
        width: 100%;
        padding: 2px 8px 2px 8px;

        img {
            margin-left: 0;
        }

        span {
            font-size: clamp(14px, 2vw, 16px);
        }
    }

    .user_info {
        width: 90%;
        padding-left: 20px;
        padding-right: 20px;
    }
}