<div class="pw-reset-email-container">
    <div [routerLink]="['']" class="arrow-back">
        <img src="../../../assets/img/arrow_back.svg" alt="">        
    </div>

    <h2>Passwort zurücksetzen</h2>


    <form (ngSubmit)="onSubmit(newPassword)" #newPassword="ngForm">
        <app-input-field 
        required
        [minlength]="5"
        [(ngModel)]="newPw"
        name="newpw"
        type="password"
        placeholder="Neues Psswort"        
        imagePath="../../../assets/img/lock.svg"
        pattern="^(?=.*[A-Z])(?=.*[!?@#$%^&*]).+$"
       >
    </app-input-field>
    <app-input-field 
        required
        [minlength]="5"
        [(ngModel)]="samePw"
        name="samepw"
        type="password"
        placeholder="Neues Kennwort bestätigen"        
        imagePath="../../../assets/img/lock.svg"
        pattern="^(?=.*[A-Z])(?=.*[!?@#$%^&*]).+$"
       >
    </app-input-field>

    <div class="btn-container">
        <button type="submit" class="btn-primary" >Passwort ändern</button>
      </div>
    </form>
</div>
