<app-da-bubble-header-authentication></app-da-bubble-header-authentication>



<div class="pw-reset-email-container">
    <div (click)="goBack()" class="arrow-back">          
    </div>

    <h2>Passwort zurücksetzen</h2>


    <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
        <div class="input-field">
          <app-input-field
            formControlName="newpw"
            name="newpw"
            type="password"
            placeholder="Neues Passwort"
            imagePath="../../../assets/img/person_filled.svg"
            [showError]="newPasswordForm.controls['newpw'].invalid && newPasswordForm.controls['newpw'].touched"
            [errorMessage]="passwordErrorMessage"
            (blur)="onBlur('newpw')">
          </app-input-field>
        </div>
      
        <div class="input-field">
          <app-input-field
            formControlName="samepw"
            name="samepw"
            type="password"
            placeholder="Passwort bestätigen"
            [showError]="newPasswordForm.controls['samepw'].invalid && newPasswordForm.controls['samepw'].touched"
            imagePath="../../../assets/img/person_filled.svg"
            [errorMessage]=" passwordNotTheSame"
            (blur)="onBlur('samepw')">
          </app-input-field>
        </div>
    <div class="btn-container">
        <button type="submit"
                  class="btn-primary btn-width"
                  [ngClass]="{'btn-disabled': newPasswordForm.invalid}"
                  [disabled]="newPasswordForm.invalid">Passwort ändern</button>
      </div>
    </form>
</div>
<app-legal-information></app-legal-information>

<div *ngIf="passwortReset">
  <app-pw-reset-accepted ></app-pw-reset-accepted>
</div>