@import '../../../styles.scss';

:host {
    position: relative;
}

.avatar {
    @include rounded($all: 50%);
    width: 60px;
    height: 60px;

    @media (max-width: $breakpoint-xl) {
        width: 40px;
        height: 40px;
    }

    &.small {
        width: 40px;
        height: 40px;

        @media (max-width: $breakpoint-xl) {
            width: 32px;
            height: 32px;
        }
    }

    &.large {
        width: 168px;
        height: 168px;

        @media (max-width: $breakpoint-xl) {
            width: 128px;
            height: 128px;
        }
    }

    &.border {
        border: 2px solid $white;
    }
}

.online-indicator {
    @include rounded($all: 50%);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 12px;
    height: 12px;
    border: 2px solid $white;
    background-color: red;

    &.online {
        background-color: $green;
    }

    &.offline {
        background-color: $gray;
    }
}
