.avatar {
    border-radius: 50%;
    width: 70px;
    height: 70px;

    &.small {
        width: 40px;
        height: 40px;
    }

    &.large {
        width: 168px;
        height: 168px;
    }
}
