<div>
    <div>
        <h1>Leute hinzufügen</h1>
        <div class="channel_name">
            <h2><b>#</b> {{ channelName }}</h2>
        </div>
    </div>

    <div class="input-container">
        <input type="text" placeholder="Name eingeben" [(ngModel)]="inputValue" (input)="onInputChange($event)">

        <div *ngIf="listShown" class="users_liste">
            <div class="user_name" *ngFor="let user of filteredUsers" (click)="onUserSelect(user)">
                <img class="avatar" src="assets/img/avatar{{ user.avatar }}.svg">
                <span>{{ user.name }}</span>
            </div>
        </div>
    </div>
    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
    </div>

    <div class="add_button">
        <button class="btn-primary" [disabled]="!inputValue" (click)="addUserToChannel()">Hinzufügen</button>
    </div>
</div>
