<div class="wrapper">
    <app-header></app-header>
    <div class="main_content">
        <app-workspace-menu 
        class="workspace-menu" 
        [class.closed]="!isMenuOpen">
        </app-workspace-menu>
        <app-message-board 
        class="message_board_content"
        [class.show]="messageboardService.isMessageBoardOpen">
        </app-message-board>
    </div>
    <div class="workspace-menu-button" (click)="toggleMenu()">
        <h2>Workspace-Menü {{ menuText }}</h2>
        <img src="assets/img/Group 2.png">
    </div>
</div>