@import "./../styles/variables";

body {
    background-color: $purple-2;
}

.main_content {
    display: flex;
    width: 100%;
}

.workspace-open {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: white;
    cursor: pointer;
    top: 70%;
    left: -140px;
    transform: translate(-50%, -50%);
    transform: rotate(270deg);
    height: 60px;
    width: 340px;
    gap: 12px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    -webkit-box-shadow: -8px 8px 16px -5px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: -8px 8px 16px -5px rgba(0, 0, 0, 0.27);
    box-shadow: -8px 8px 16px -5px rgba(0, 0, 0, 0.27);

    
    h2 {
        font-size: 20px;
    }

    img {
        height: 16px;
        width: 16px;
    }
}
