@import '../../styles.scss';

.wrapper {
    @include flex($direction: column, $align: stretch);
    height: 100vh;
    width: 100vw;
}

.main_content {
    @include flex($justify: start, $align: stretch);
    position: relative;
    gap: 20px;
    padding: 20px;
    width: 100%;
    flex: 1;
    overflow: hidden;

    @media (max-width: $breakpoint-lg) {
        padding: 12px;
        gap: 12px;
    }

    @media (max-width: $breakpoint-md) {
        padding: 0;
    }

    .workspace-menu {
        width: 320px;
        flex-shrink: 0;
        transition: width 0.125s ease;

        &.closed {
            width: 0;
            margin-left: -20px;

            @media (max-width: $breakpoint-lg) {
                margin-left: -12px;
            }

            @media (max-width: $breakpoint-md) {
               width: inherit;
               margin-left: 0;
            }
        }

        @media (max-width: $breakpoint-lg) {
            width: 280px;
        }

        @media (max-width: $breakpoint-md) {
            width: 100%;
        }
    }
    
    .message_board_content {
        width: 100%;

        @media (max-width: $breakpoint-md) {
            position: fixed;
            z-index: 999;
            width: 100vw;
            transform: translateX(100%);
            bottom: 0;
            height: calc(100vh - 94px);
            transition: transform 0.125s ease;

            &.show {
                transform: translateX(0);
            }
        }   
    }
}

.workspace-menu-button {
    @include flex($justify: space-between, $align: center);
    gap: 10px;
    position: absolute;
    background-color: $white;
    cursor: pointer;
    top: 70%;
    left: -155px;
    transform: translate(-50%, -50%);
    transform: rotate(270deg);
    padding: 0 40px;
    height: 48px;
    width: 360px;
    @include rounded($top-left: 0, $top-right: 0, $bottom-left: 30px, $bottom-right: 30px);
    -webkit-box-shadow: -8px 8px 16px -5px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: -8px 8px 16px -5px rgba(0, 0, 0, 0.27);
    box-shadow: -8px 8px 16px -5px rgba(0, 0, 0, 0.27);  

    @media (max-width: $breakpoint-md) {
       display: none;
    }

    h2 {
        font-size: 20px;
        display: inline-block;
        white-space: nowrap;
    }

    svg {
        transform: rotate(90deg);
        height: 16px;
        width: 16px;
    }

    &:hover {
        color: $purple-1;
    }
}
