@import '../../../styles.scss';

.message-board {
    @include rounded();
    background-color: $white;
    margin-left: 20px;
    padding: 16px 0;

    .message-input-container {
        padding: 0 32px;
    }
}