<div class="message-board">
    <div class="message-container main-channel">
        <div class="message-board-header">
            <div>
                <app-avatar *ngIf="channelType === 'direct'" [avatarId]="userAvatar"></app-avatar>
                <h2>{{ channelTitle }}</h2>
            </div>
        </div>
        <div class="message-board-content">
            @if (messages.length === 0) {
            <div class="no-messages-container">
                @if (channelType === 'group') {
                <h2>{{channelTitle}}</h2>
                <p *ngIf="channelDescription !== ''" class="channel-description">Thema: {{channelDescription}}</p>
                <p>Es gibt noch keine Nachrichten in diesem Channel. Schreibe eine erste Nachricht!</p>
                } @else if (channelType === 'direct') {
                <div class="no-messages-container-direct">
                    <app-avatar [avatarId]="userAvatar" [size]="'small'"></app-avatar>
                    <h2>{{directMessagePartnerName}}</h2>
                </div>
                <p>Diese Unterhaltung findet nur zwischen dir und <span
                        class="partner-name">&#64;{{directMessagePartnerName}}</span> statt.</p>
                }
            </div>
            } @else {
            @for (message of messages; track message.id; let i = $index) {

            <app-message [message]="message" (repliesClicked)="handleRepliesClick($event)"></app-message>
            @if (i === messages.length - 1 || !isSameDay(messages[i+1].timestamp, message.timestamp)) {
            <app-time-seperator [timestamp]="message.timestamp"></app-time-seperator>
            }
            }
            }

        </div>
        <div class="message-input-container">
            <app-message-input [type]="'send'" placeholder="Nachricht an {{channelTitle}}"
                (sendMessage)="onSendMessage($event)"></app-message-input>
        </div>
    </div>
    @if (isThreadOpen) {
    <div class="message-container thread-channel">
        <div class="message-board-header">
            <div class="header-left">
                <h2>Thread</h2>
                <span *ngIf="channelType === 'group'">
                    #{{ channelName }}
                </span>
            </div>
            <div class="header-right">
                <img src="assets/img/close.svg" class="close-icon" (click)="closeThread()">
            </div>

        </div>
        <div class="message-board-content">
            @if (threadMessages.length === 0) {
            <div class="no-messages-container">
                Verfasse eine Antwort...
            </div>
            } @else {
            @for (message of threadMessages; track message.id; let i = $index) {
            <app-message [message]="message"></app-message>
            @if (i === threadMessages.length - 1 || !isSameDay(threadMessages[i+1].timestamp, message.timestamp)) {
            <app-time-seperator [timestamp]="message.timestamp"></app-time-seperator>
            }
            }
            }
        </div>
        <div class="message-input-container">
            <app-message-input [type]="'send'" [placeholder]="'Antworten...'"
                (sendMessage)="onSendReply($event)"></app-message-input>
        </div>
    </div>
    }

</div>