<div class="message-container" [ngClass]="{'own': isOwn}">
    <div class="avatar" (click)="toggleEmojiPicker()">
        <app-avatar [avatarId]="avatarId"></app-avatar>
    </div>
    <div class="message">
        <div class="message-header">
                <div class="message-header-name">{{ authorName }}</div>
                <div class="message-header-time">{{ message.timestamp | date:'HH:mm' }} Uhr</div>
        </div>
        <div class="message-text">
            {{ content }}
        </div>
        <div class="message-reactions">
             <ng-container *ngFor="let reaction of reactionWithNames">
                <app-reaction-indicator 
                    *ngIf="reaction.users.length > 0"
                    [reaction]="reaction"
                    (toggleReaction)="handleReactionToggle($event)">
                </app-reaction-indicator>
            </ng-container>
        </div>
    </div>
    <app-emoji-picker class="emoji-picker" *ngIf="showEmojiPicker" (emojiSelected)="handleEmojiSelection($event)"></app-emoji-picker>
</div>