@import '../../../styles.scss';

.message-container {
    @include flex($direction: row, $align: start, $justify: start);
    gap: 24px;
    padding: 16px 32px;
    background-color: $white;
    cursor: pointer;
    position: relative;

    .message {
        @include flex($direction: column, $align: start);
        gap: 12px;
      
        .message-header {
          @include flex();
          gap: 16px;
      
          .message-header-name {
            font-weight: 700;

            &:hover {
                color: $purple-1;
            }
          }
      
          .message-header-time {
            color: $gray;
            font-size: 14px;
          }
        } 
      
        .message-text {
          @include rounded($top-left: 0);
          padding: 16px;
          background-color: $bg-color;
      
          &.own {
            @include rounded($top-left: 0);
            background-color: $purple-2;
            color: $white;
          }
        }

        .message-reactions {
            @include flex($justify: start);
            gap: 8px;
            flex-wrap: wrap;
        }
      }

    &:hover {
        background-color: $bg-color;

        .message-text:not(.own) {
            background-color: $white;
        }

        .message-toolbar {
            opacity: 1;
            visibility: visible;
            transform: translateY(-50%) translateX(0);
        }
    }

    .message-toolbar {
        position: absolute;
        top: 0;
        left: auto;
        right: 100px;
        transform: translateY(-50%) translateX(20%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s;
    }

    &.own {
        @include flex($direction: row-reverse, $align: start, $justify: end);

        .message {
            @include flex($direction: column, $align: end);

            .message-header {
                @include flex($direction: row-reverse);
            }

            .message-text {
                @include rounded($top-right: 0);
                background-color: $purple-2;
                color: $white;
            }
        }

        .message-toolbar {
            left: 100px;
            right: auto;
            transform: translateY(-50%) translateX(-20%);
        }

        &:hover .message-toolbar {
            transform: translateY(-50%) translateX(0);
        }
    }

    .emoji-picker-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1000;
    }

    .emoji-picker {
        position: absolute;
        
      }
}



