<div class="workspace-content">
    <div class="workspace-title">
        <div>
            <img class="logo" src="assets/img/Workspace logo.png">
            <h2>Devspace</h2>
        </div>
        <img class="edit" src="assets/img/edit_square.png">
    </div>
    <div class="channels_content">
        <div>
            <img class="arrow" src="assets/img/arrow_drop_down.png">
            <img class="space" src="assets/img/workspaces.png">
            <p>Channels</p>
        </div>       
        <img class="add" src="assets/img/add.png">
        
    </div>
    <div class="channels">
        <div class="chanel_name">
            <p># Channel Name</p>
        </div>
    </div>
    <div class="add_chanel">
        <img src="assets/img/add_circle.png">
        <p>Channel hinzufügen</p>
    </div>
    <div class="message_content">
        <img class="arrow" src="assets/img/arrow_drop_down.png">
        <img class="account_circle" src="assets/img/account_circle.png">
        <p>Direktnachrichten</p>
    </div>

</div>