<div class="register-container">

    <div [routerLink]="['']" class="arrow-back">
       
    </div>

    <div class="headline-section">
        <h2>Konto erstellen</h2>
        <span>Mit deinem Namen und deiner E-Mail_Adreese hast du dein neue DABubble-Konto</span>
    </div>

    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
        <div class="input-field-section">
          <app-input-field
            required            
            formControlName="name"
            name="name"
            type="text"
            placeholder="Name und Nachname"
            [showError]="registerForm.controls['name'].invalid && registerForm.controls['name'].touched"
            [errorMessage]="nameErrorMessage"
            (blur)="onBlur('name')"
            imagePath="../../../assets/img/person_filled.svg">
          </app-input-field>
          <app-input-field
            required
            formControlName="email"
            name="email"
            type="email"
            placeholder="beispielname@email.com"            
            (blur)="onBlur('email')"
            [showError]="registerForm.controls['email'].invalid && registerForm.controls['email'].touched" 
            [errorMessage]="emailErrorMessage"
            imagePath="../../../assets/img/mail.svg">
          </app-input-field>
          <app-input-field
            required            
            formControlName="password"
            name="password"
            type="password"
            placeholder="Passwort"
            (blur)="onBlur('password')"
            [showError]="registerForm.controls['password'].invalid && registerForm.controls['password'].touched"
            [errorMessage]="passwordErrorMessage"
            imagePath="../../../assets/img/lock.svg"
            >
          </app-input-field>
        </div>
      
        <div class="data-protection-container">
          <input class="checkbox" type="checkbox" formControlName="dataProtection" required>
          <span>Ich stimme der <a href="http://">Datenschutzerklärung</a> zu.</span>

          <div *ngIf="registerForm.get('dataProtection').invalid && registerForm.get('dataProtection').touched" class="error-message">
            {{ dataProtectionErrorMessage }}
          </div>
        </div>
      
        <div class="btn-container">
          <button type="submit"
                  class="btn-primary"
                  [ngClass]="{'btn-disabled': registerForm.invalid}"
                  [disabled]="registerForm.invalid">Weiter</button>
        </div>
      </form>

</div>