
<app-da-bubble-animation></app-da-bubble-animation>
<app-register-button></app-register-button>
<app-da-bubble-header-authentication></app-da-bubble-header-authentication>

<div class="login-container br-30">

    <div class="headline-section">
        <h1>Anmeldung</h1>
        <span>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</span>
    </div>


    <form (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="input-field-section">            
            <app-input-field                                                                                                  
                 type="email"
                 placeholder="beispielname@email.com"
                 pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"                
                 imagePath="../../../assets/img/mail.svg"
                 [(ngModel)]="email"
                 name="email"
                 >
            </app-input-field>
            <app-input-field                                 
                type="password"
                placeholder="Passwort"
                [showError]="passwordInvalid || false"
                [errorMessage]="passwordErrorMessage"
                imagePath="../../../assets/img/lock.svg"
                [(ngModel)]="password"
                name="password">
                ></app-input-field>            
        </div>

       <p [routerLink]="['/resetpw-email']" class="pw-forget-btn br-30">Passwort vergessen?</p>

        <div class="or-container">
            ODER
        </div>

        <div class="google-btn" (click)="signInWithGoogle()">
            <img src="../../../assets/img/Google.svg" alt="">
           Anmelden mit Google
        </div>

        <div class="btn-container">
            <button type="submit" class="btn-primary">Anmelden</button>
            <button type="button" class="btn-secondary" (click)="guestLogin()">Gäste-Login</button>
        </div>

    </form>
</div>

<div *ngIf="userFound">
    <app-login-user-accepted></app-login-user-accepted>
  </div>



<app-legal-information></app-legal-information>