<app-register-button></app-register-button>

<div class="login-container br-30">

    <div class="headline-section">
        <h1>Anmeldung</h1>
        <span>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</span>
    </div>


    <form (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="input-field-section">            
            <app-input-field                                                                                                  
                 type="email"
                 placeholder="beispielname@email.com"
                 pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                 [showError]="emailInvalid ||false"
                 [errorMessage]="emailErrorMessage"
                 imagePath="../../../assets/img/authentications-icons/mail.svg"
                 [(ngModel)]="email"
                 name="email"
                 >
            </app-input-field>
            <app-input-field                                 
                type="password"
                placeholder="Passwort"
                [showError]="passwordInvalid || false"
                [errorMessage]="passwordErrorMessage"
                imagePath="../../../assets/img/authentications-icons/lock.svg"
                [(ngModel)]="password"
                name="password">
                ></app-input-field>            
        </div>

        <p class="pw-forget-btn br-30" (click)="sendPasswordResetEmail()">Passwort vergessen?</p>

        <div class="or-container">
            ODER
        </div>

        <div class="google-btn">
           Anmelden mit Google
        </div>

        <div class="btn-container">
            <button type="submit" class="btn-primary">Anmelden</button>
            <button class="btn-secondary">Gäste-Login</button>
        </div>

    </form>



</div>

