<div class="message-toolbar">
  @if (isMessageInMainChannel) {
    <div *ngFor="let emoji of topEmojis$ | async">
      <ngx-emoji [emoji]="emoji" [size]="24" class="toolbar-icon" (click)="handleReactionClick(emoji)"></ngx-emoji>
    </div>
  }
  <img src="assets/img/add_reaction.svg" alt="add reaction" class="toolbar-icon"
    (click)="handleAddReactionClick($event)">
  <img src="assets/img/comment.svg" alt="comment" class="toolbar-icon">
  <div *ngIf="isOwn" class="more-container">
    <img src="assets/img/more_vert.svg" alt="more" class="toolbar-icon" (click)="toggleOptionsMenu()">
    <div class="options-menu" *ngIf="isOptionsMenuOpen" (mouseleave)="toggleOptionsMenu()">
      <div class="option" (click)="handleEditMessageClick()">
        Nachricht bearbeiten
      </div>
    </div>
  </div>
</div>