@import 'app/styles/_variables';
@import 'app/styles/_mixins';

@font-face {
    font-family: 'Nunito';
    src: url('./assets/fonts/Nunito-VariableFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;   
}

body {   
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 16px;
    color: $black;
    background-color: $bg-color;
}

textarea {
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
    resize: none;

    &::placeholder {
        color: $gray;
    }
}

.br-30{
    border-radius: 30px;
}

