@import 'app/styles/_variables';
@import 'app/styles/_mixins';
@import '@ctrl/ngx-emoji-mart/picker';

@font-face {
    font-family: 'Nunito';
    src: url('./assets/fonts/Nunito-VariableFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
    
    &::-webkit-scrollbar {
        height: 5px;
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 4px;
        background-color: #DFE9EB;
    }

    &::-webkit-scrollbar-track:active {
        background-color: #B8C0C2;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: $light-purple;
    }

    &::-webkit-scrollbar-thumb:active {
        background-color: $light-purple;
    }
}

body {   
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 16px;
    color: $black;
    background-color: $bg-color;
}

textarea {
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
    resize: none;

    &::placeholder {
        color: $gray;
    }
}

.br-30{
    border-radius: 30px;
}

