@import 'app/styles/_variables';
@import 'app/styles/_mixins';
@import '@ctrl/ngx-emoji-mart/picker';

@font-face {
    font-family: 'Nunito';
    src: url('./assets/fonts/Nunito-VariableFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
    
    &::-webkit-scrollbar {
        height: 5px;
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 4px;
        background-color: #DFE9EB;
    }

    &::-webkit-scrollbar-track:active {
        background-color: #B8C0C2;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: $light-purple;
    }

    &::-webkit-scrollbar-thumb:active {
        background-color: $light-purple;
    }
}

body {   
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 16px;
    color: $black;
    background-color: $bg-color;
}

.hidden {
    visibility: hidden;
}

.br-30{
    border-radius: 30px;
}

.btn-primary {
    color: $white;
    background-color: $purple-1;
    font-size: 18px;
    width: 136px;
    height: 48px;
    border-radius: 25px;
    border: none;
    font-weight: 700;
  
    &:hover {
      cursor: pointer;
      background-color: $purple-2;
      color: $white;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: $gray;
      color: $white;
    }
  }
  
  .btn-secondary {
    color: $purple-2;
    background-color: $white;
    font-size: 18px;
    width: 136px;
    height: 48px;
    border-radius: 25px;
    border: 1px solid $purple-2;
    font-weight: 700;
  
    &:hover {
      cursor: pointer;
      background-color: $purple-1;
      color: $white;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: $gray;
      color: $white;
    }
  }

  .btn-disabled {
    color: $white;
    background-color: $gray;
    cursor: not-allowed;
    pointer-events: none;
    border: none;
}

.message-tag {
    background-color: $purple-3;
    padding: 0 2px;
    color: $white;
}

.highlight {
  background-color: $bg-color;
}

.selected-message {
  background: $light-purple !important;
  transition: background-color 0.5s ease;
}
