@import '../../styles/_variables';
@import '../../styles/mixins';



:host {
    height: 100vh;
    @include flex(center, center, column);
}


.container {
    position: relative;
    max-width: 680px;
    height: 468px;
    background-color: $white;
    border-radius: 30px;
    padding-bottom: 48px;
    padding-top: 120px;
    width: calc(100% - 32px);
}

.arrow-back {
    @include flex(center, center, column);
    width: 40px;
    height: 40px;
    position: absolute;
    left: 32px;
    top: 45px;

    background-image: url('../../../assets/img/arrow_back.svg');
    background-repeat: no-repeat;
    background-position: center;



    &:hover {
        cursor: pointer;
        background-color: $bg-color;
        border-radius: 30px;
        background-image: url('../../../assets/img/arrow_back_hover\ .svg');
        background-repeat: no-repeat;
        background-position: center;
    }
}

.privacy-policy-section {

    padding-left: 56px;
    margin-right: 56px;
    padding-bottom: 48px;

    height: 100%;
    overflow-y: auto;

    p{
        font-size: 16px;
    }



    h1 {
        color: $purple-2;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 16px;
    }

    h2 {
        color: $purple-2;
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 16px;
    }

    h3 {
        color: $purple-2;
        font-size: 24px;
        font-weight: 700;
        margin-top: 32px;
        margin-bottom: 16px;
    }

    h4{        
        font-size: 18px;  
        margin-top: 20px;
        margin-bottom: 6px;
    }
}

@media (min-width: 701px) and (max-width: 5000px) and (max-height: 640px) {
    :host {
        height: 100%;
    }

    .container {
        height: 468px;
        margin-bottom: 100px;
        margin-top: 100px;


    }
}

@media(max-width:700px) {

    .container{
        padding-top: 80px;
    }

    .arrow-back {
        top: 20px;
        left: 20px;
    }
    .privacy-policy-section {
        padding-left: 20px;
        margin-right: 20px;

        h1 {
            font-size: 26px;
        }

        h2 {
            font-size: 20px;
        }

        h3 {
            font-size: 18px;
        }
        h4{
            font-size: 16px;
        }
    }


}
@media(max-width:700px) and (max-height: 620px) {
    :host {
        height: 100%;

    }

    .container {
        height: 450px;
        margin-bottom: 50px;


    }
}

@media(max-width:345px){
    .privacy-policy-section{
        h1{
            font-size: 24px;
        }
    }
}