@import '../../styles/_variables';
@import '../../styles/mixins';



:host {
    height: 100vh;
    @include flex(center, center, column);
}


.container {
    position: relative;
    max-width: 680px;    
    height: 468px;
    background-color: $white;
    border-radius: 30px;
    padding-bottom: 48px;
    padding-top: 120px;
    width: calc(100% - 32px);
}

.arrow-back {
    @include flex(center, center, column);
    width: 40px;
    height: 40px;
    position: absolute;
    left: 32px;
    top: 45px;

    background-image: url('../../../assets/img/arrow_back.svg');
    background-repeat: no-repeat;
    background-position: center;



    &:hover {
        cursor: pointer;
        background-color: $bg-color;
        border-radius: 30px;
        background-image: url('../../../assets/img/arrow_back_hover\ .svg');
        background-repeat: no-repeat;
        background-position: center;
    }
}

.privacy-policy-section {
    
    padding-left: 56px;
    margin-right: 56px;
    padding-bottom: 48px;
    
    height: 100%;
    overflow-y: auto;

  

    h1 {
        color: $purple-2;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 16px;
    }

    h2 {
        color: $purple-2;
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 16px;
    }

    h3 {
        color: $purple-2;
        font-size: 24px;
        font-weight: 700;
        margin-top: 32px;
        margin-bottom: 16px;
    }
}