@import '../../styles/variables';
@import '../../styles/mixins';

.input-container {

    position: relative;

    input {
        max-width: 500px;
        width: 100%;
        max-height: 60px;
        height: 100%;

        background-repeat: no-repeat;
        background-position: 32px center;
        background-size: 24px 24px;


        background-color: $bg-color;

        padding-top: 18px;
        padding-bottom: 18px;
        padding-left: 86px;
        padding-right: 32px;

        border-radius: 100px;
        border: 1px solid $white;

        font-size: 18px;



        &:hover {
            cursor: pointer;

            border: 1px solid $black;
        }

        &:focus {
            outline: none;
            border: 1px solid $purple-1;

        }
    }
}

.error-message {
    color: $rose;
    font-size: 14px;
    margin-top: 6px;
    position: absolute;
    left: 0;
}


@media(max-width:600px) {
    .input-container {
        input {
            max-width: 100%;
        }
    }
}

@media(max-width:500px){
    .input-container{
        input{
            max-height: 50px;
        }
    }

    .error-message{
        font-size: 12px;
        margin-top: 0px;
    }
}

@media(max-width:400px){
    .input-container{
        input{
           font-size: 16px;
        }
    }
}

@media(max-width:380px){
    .input-container{
        input{
           font-size: 14px;
           background-position: 20px center;
           padding-left: 60px;
        }
    }
}

@media(max-width:380px){
    .input-container{
        input{
           font-size: 14px;
           background-position: 16px center;
           padding-left: 50px;
        }
    }
}