<div class="input-container">   
    <input
        required         
        [pattern]="pattern" 
        [(ngModel)]="value"
        (ngModelChange)="onInputChange($event)"
        [type]="type" 
        [placeholder]="placeholder" 
        [ngStyle]="{'background-image': imagePath ? 'url(' + imagePath + ')' : 'none'}"
        (blur)="handleBlur()"
        #inputField="ngModel"           
        />
        
        <div *ngIf="showError || (inputField.invalid && inputField.dirty)" class="error-message">{{ errorMessage }}</div>
</div>